pywin32>=223
aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
comtypes==1.2.0
deep-translator==1.11.4
Django==4.2.4
django-cors-headers==4.2.0
django-multiselectfield==0.1.12
djangorestframework==3.14.0
frozenlist==1.4.0
idna==3.4
lxml==4.9.3
multidict==6.0.4
openai==0.27.8
Pillow==10.0.0
pypiwin32==223
python-docx==0.8.11
pyttsx3==2.90
pytz==2023.3
requests==2.31.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
sqlparse==0.4.4
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.4
yarl==1.9.2
